iframe#watch-app {
  width: 144px;
  height: 168px;
  overflow:hidden;
}

#watch-app-wrapper {
  display: inline-block;
  vertical-align:top;
  position: relative;
}

#click-blocker {
  width: 144px;
  height: 168px;
  position: absolute;
  top: 0;
  left: 0;
}

.button-group {
  display: inline;
  vertical-align:top;
}

#back-button {
  top: 20px;
  position: relative;
}

#up-button {
  top: 20px;
  position: absolute;
}

#middle-button {
  top: 77.5px;
  position: absolute;
}

#down-button {
  top: 135px;
  position: relative;
}

#container {
  position: absolute;
  top: 50px;
  left: 50px;
}
